.article {
	ul {
		list-style: none;
		a {
			display: flex;
			align-items: center;
			flex-direction: row;
		}
	}

	.color {
		display: inline-block;
		width: 1em;
		height: 1em;
		margin-right: 0.2em;
		margin-bottom: 0.2em;
	}
}
