.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  width: 100%;
  height: var(--navbar-height);
  background-color: rgb(201, 201, 201);
  padding: var(--outer-margin);

  li {
    margin-right: 1ch;
  }
}