.page {
	background-color: attr(data-background);
	color: attr(data-color);
	a {
		color: attr(data-color);
	}

	h3 {
		margin-top: 2rem;
		font-weight: bold;
	}
	.markdown {
		margin-bottom: 1rem;
		li {
			margin-left: 2rem;
		}
	}

	.image {
		width: 100vw !important;
		height: 30vh;
		margin-left: calc(-1 * var(--outer-margin));
		margin-right: calc(-1 * var(--outer-margin));

		img {
			object-fit: cover;
		}
	}

	ul {
		margin-bottom: 1rem;
	}
	> li {
		margin-left: 1.5em;
	}
}
