.page {
	h3 {
		margin-top: 2rem;
		font-weight: bold;
	}
	.image {
		width: 200px;
		height: 400px;
		object-fit: cover;
	}
	ul {
		margin-bottom: 1rem;
	}
	> li {
		margin-left: 1.5em;
	}
	p {
		// /margin-bottom: 1rem;
	}
}
